= tag.div class: class_names("border-4 px-6 py-2 rounded-full text-white", "border-black" => is_current_participant?, "border-transparent" => !is_current_participant?), style: "background-color: ##{@color}" do
  = @name
